<div class="row">
    <div class="col-md-12 landing">
        <div class="mainContent">
            <div class="container">
                <h1 class="mainHeader">Find Your Game</h1>

                <p class="mainDescription">The sports bar community that helps you find games wherever you are.</p>

                <div class="starSeparation">
                    <div class="starLine"></div>
                    <i class="fa fa-star"></i>

                    <div class="starLine"></div>
                </div>
                <div class="row searchSection">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <form class="form-wrapper cf">
                            <input type="text" id="searchField" placeholder="Find a game..." required>
                            <button class="mainSearchButton" type="submit">Search</button>
                            <button class="miniSearchButton" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="searchSuggestion">
                            <span id="searchQuery"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 featureSection">
            <div class="featurePic rocketShip"></div>
            <h3 class="featureHeader">Find games fast.</h3>

            <p class="featureDescription">Find the games that you want to watch wherever you are. Businesses can
                advertise that they are showing the next big game, or you can see where and what people are watching
                through their check-ins.</p>
        </div>
        <div class="col-md-6 featureSection">
            <div class="featurePic friendGroup"></div>
            <h3 class="featureHeader">Meetup with friends.</h3>

            <p class="featureDescription">It's now even easier to coordinate meetups with your circle of friends. Just
                share your game plan on Facebook using our site and all of your buddies will know where you are going to
                be on the big day.</p>
        </div>
        <div class="col-md-6 featureSection">
            <div class="featurePic calendar"></div>
            <h3 class="featureHeader">Never miss a game.</h3>

            <p class="featureDescription">Customize your account with your favorite sports and teams. We can send you
                notifications when a friend arrives at a bar and what bars are televising the games you're interested
                in.</p>
        </div>
        <div class="col-md-6 featureSection">
            <div class="featurePic trophy"></div>
            <h3 class="featureHeader">Get rewarded.</h3>

            <p class="featureDescription">With every check-in you have the opportunity to receive a badge or
                achievement. The more games you attend the more you are rewarded. Bars sometimes even offer promotions
                for our app users.</p>
        </div>
    </div>
</div>
<section class="dividerHero">
    <div class="container">
        <h1 class="missionStatement">businessName is a tool to help you find games wherever you may be and to keep you
            up to date on upcoming sporting events.</h1>
    </div>
</section>
<section class="mobileSection">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mobileHeader">We're Mobile</h1>

                <p class="mobileDescription">We've joined the 21st century. Take your sports with you wherever you go.
                    Be sure to explore new bars and new friends along the way. Our app will adjust to your location and
                    give you up to date information on the games in your area. Our app is available both on the iPhone
                    in the App Store and on Android in the Google Play Store.</p>
                <a href="#" class="appDownload">
                    <i class="fa fa-download"></i>
                    Download The App
                </a>
            </div>
            <div class="col-md-6 mobileImage">
                <img class="smartPhoneImage" src="images/smartphone.png"></img>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
    </div>
</footer>
<script>
    $(function () {
        $('input, textarea').placeholder();
    });

    $(function () {
        $("#searchQuery").typed({
            strings: ["Detroit Lions @ Grand Rapids, MI", "Dallas Cowboys Austin, TX", "Miami Heat in Tuscaloosa", "Atlanta Braves Kansas City"],
            typeSpeed: 50,
            backDelay: 1000,
            loop: true
        });
    });
</script>