<div class="row">
    <div class="col-md-2 noPaddingLeft">
        <h4 class="profileSectionHeader">About Me</h4>
    </div>
    <div class="col-md-10">
        <p class="profileSectionDescription">Lorem ipsum sit amet, consectetur adipiscing elit. Phalsellus sed ligula et sem pretium
            dapibus et eget orci. Pellentesque aliquam fermentum elit sed feugiat. Praesent mollis
            ullamcorpoer risus at mollis. Donec sit amet turpis torot. Aliquam erat volutpat.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2 noPaddingLeft">
        <h4 class="profileSectionHeader">Interests</h4>
    </div>
    <div class="col-md-10">
        <p class="profileSectionDescription">Sports, beer, hot chicks, more beer, more sports, and physics.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2 noPaddingLeft">
        <h4 class="profileSectionHeader">My Teams</h4>
    </div>
    <div class="col-md-10">
    </div>
</div>
<div class="row">
    <div class="col-md-2 noPaddingLeft">
        <h4 class="profileSectionHeader">Check-Ins</h4>
    </div>
    <div class="col-md-10">
    </div>
</div>