<div class="container">
    <div class="row headerRow">
        <div class="col-sm-9 col-xs-9">
            <h1 class="searchQuery">Detroit Lions vs. Falcons<span> @ Grand Rapids, MI</span></h1>
        </div>
        <div class="col-sm-3 col-xs-3">
            <h4 class="paginationNumber">Showing 1-10 of 50</h4>
            <button class="btn btn-default btn-sm filterButton">Apply Filters</button>
        </div>
    </div>
    <div class="row mainSearchContent">
        <div class="col-lg-3 col-md-3 filterSection">
            <h3 class="filterHeader">Filters</h3>

            <div class="filterGroup">
                <h5 class="filterSubHeader">Sort By</h5>
                <ul class="filterList">
                    <li>
                        <a href="#">Distance</a>
                    </li>
                    <li>
                        <a href="#">Name</a>
                    </li>
                </ul>
            </div>
            <div class="filterGroup">
                <h5 class="filterSubHeader">Distance</h5>
                <ul class="filterList">
                    <li>
                        <a href="#">More than 5 Miles</a>
                    </li>
                    <li>
                        <a href="#">5 Miles</a>
                    </li>
                    <li>
                        <a href="#">2 Miles</a>
                    </li>
                    <li>
                        <a href="#">1 Mile</a>
                    </li>
                    <li>
                        <a href="#">Less than 1 Mile</a>
                    </li>
                </ul>
            </div>
            <div class="filterGroup">
                <h5 class="filterSubHeader">Cities</h5>

                <div class="filterCheckbox">
                    <label>
                        <input type="checkbox"> Grand Rapids
                    </label>
                </div>
                <div class="filterCheckbox">
                    <label>
                        <input type="checkbox"> Wyoming
                    </label>
                </div>
                <div class="filterCheckbox">
                    <label>
                        <input type="checkbox"> Muskegon
                    </label>
                </div>
                <div class="filterCheckbox">
                    <label>
                        <input type="checkbox"> Holland
                    </label>
                </div>
                <a href="#">More Cities</a>
            </div>
            <div class="filterGroup">
                <h5 class="filterSubHeader">Category</h5>

                <div class="filterCheckbox">
                    <label>
                        <input type="checkbox"> Sports Bars
                    </label>
                </div>
                <div class="filterCheckbox">
                    <label>
                        <input type="checkbox"> Restaurants
                    </label>
                </div>
                <div class="filterCheckbox">
                    <label>
                        <input type="checkbox"> Bars
                    </label>
                </div>
                <div class="filterCheckbox">
                    <label>
                        <input type="checkbox"> Pubs
                    </label>
                </div>
                <a href="#">More Categories</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 paddingRemove">
            <div class="row businessRow" ng-repeat="business in businesses">
                <div class="col-sm-7">
                    <img class="biz-img" src=""/>

                    <div class="businessMainInfo">
                        <h4 class="businessName">
                            <a href="#">{{$index + 1}}. {{business.name}}</a>
                        </h4>
                        <h5 class="distanceIndication">{{business.distance}} Miles Away</h5>
                    </div>
                </div>
                <div class="col-sm-5 contactInfo">
                    <h5 class="contactLine">{{business.street}}</h5>
                    <h5 class="contactLine">{{business.city}}, {{business.state}} {{business.zip}}</h5>
                    <h5 class="contactLine">{{business.phone}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>